#prevent any swap files from sneaking into the repo

*.swp

#avoid saving any Mac files

.DS_Store

#ignore the PM2 ecosystem file used for deployment to server

ecosystem.json5

#don't store libs to repo
node_modules
vendor

#ignore contents of bin directory
bin
