.home {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap:nowrap;
  -webkit-flex:1;
  -webkit-flex-direction: row;
  -webkit-flex-wrap:nowrap;

  .left-container {
    display:flex;
    display:-webkit-flex;
    flex:1;
    -webkit-flex:1;
    img {
      flex:1;
      -webkit-flex:1;
    }
  }

  .calc-container {
    width: 300px;
    display: flex;
    display:-webkit-flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: center;
    -webkit-flex-direction: column;
    -webkit-flex-wrap:nowrap;
    -webkit-justify-content: center;
  
    .top-img {
      display:flex;
      display:-webkit-flex;
      height: 358px;
      flex:1;
      -webkit-flex:1;
      img {
        flex:1;
        -webkit-flex:1;
      }
    }

    .bottom-img {
      display:flex;
      display:-webkit-flex;
      height: 150px;
      flex:1;
      -webkit-flex:1;
      img {
        flex:1;
        -webkit-flex:1;
      }
    }
  
  }
  .right-container {
    display:flex;
    display:-webkit-flex;
    flex:1;
    -webkit-flex:1;
    img {
      flex:1;
      -webkit-flex:1;
    }
  }
}
