.screen { 
  align-content:stretch; 
  align-items:stretch; 
  background:#3A3A3A; 
  color:white; 
  display:flex; 
  flex-direction:row; 
  flex-wrap:nowrap; 
  height:100px; 
  justify-content:flex-end;
  
  p {
    align-self:center; 
    text-align: right;
    flex:1; 
    font-size:72px; 
    margin:0; 
    padding-right:22px;
  }
}
