.calculator {
  @import "./button/button";
  @import "./screen/screen";

  align-content:stretch;
  align-items:stretch;
  background:#999999;
  border:1px solid black; 
  display:flex;
  display:-webkit-flex;
  flex: 1;
  flex-direction:column;
  flex-wrap:nowrap;
  font-family:"Courier New", Courier, monospace;
  height:584px;
  justify-content:flex-start;
  overflow: scroll;
  width:300px;
  -webkit-align-content:stretch;
  -webkit-align-items:stretch;
  -webkit-flex: 1;
  -webkit-flex-direction:column;
  -webkit-flex-wrap:nowrap;
  -webkit-justify-content:flext-start;

  //no text select
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .button-container {flex:1;}
  
  .button-row {
    align-content:stretch;
    align-items:stretch;
    display:flex;
    display:-webkit-flex;
    flex:1;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-bottom:1px;
    -webkit-align-content:stretch;
    -webkit-align-items:stretch;
    -webkit-flex-direction:row;
    -webkit-flex-wrap:wrap;
    -webkit-justify-content:flext-start;
    
    &:last-child {margin-bottom:0px;}    
  }

  .screen.small-font {
    p {
      font-size: 56px;
    } 
  }  

}
