.calculator {
  @import "./button/button";
  @import "./screen/screen";

  align-content:stretch;
  align-items:stretch;
  background:#999999;
  border:1px solid black; 
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  font-family:"Courier New", Courier, monospace;
  height:584px;
  justify-content:flex-start;
  width:400px;
  
  .button-container {flex:1;}
  
  .button-row {
    align-content:stretch;
    align-items:stretch;
    display:flex;
    flex:1;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-bottom:1px;
    
    &:last-child {margin-bottom:0px;}    
  }
}
