<div class="calculator">

  <screen ng-class="{'small-font': (((calc.accum < 0 && calc.accum%1 !== 0) && calc.accum.toString().length === 11) ||
                                    ((calc.accum < 0 && calc.accum.toString().length === 10) && calc.accum%1 === 0) ||
                                    ((calc.accum%1 !== 0 && calc.accum.toString().length === 10) && calc.accum > 0))}"
          accumulator="calc.accum"></screen>

  <div class="button-container">
    <div ng-repeat="buttonRow in calc.buttonSet" class="button-row">
      <button ng-click="calc.buttonClick(button)" ng-repeat="button in buttonRow" button-object="{{button}}"></button>
    </div>
  </div>

</div>
